*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'raleway', sans-serif;
}

header{
    background-color: #ffffff;
    display: flex;
    color: #0065FC;
    align-items: center;
    padding: 15px 50px 30px 50px;
    max-width: 1340px;
    margin: 0 auto;
}
.logo-header{
    width: auto;
}

.menu{
    position : absolute;
        top: 0;
    left: 52%;
}
header a{
    color: #000000;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 42px 30px;
    
}

header ul li{
    list-style: none;
    float: left;
    
}
header li a:active{
    color: #0065FC;
    border-top: 2px solid;
    
}
header li a:hover{
    color: #0065FC;
    border-top: 2px solid;
    padding-top: 40px;
}

.section1{
    background-color: #ffffff;
    display: flex;
    padding: 15px 50px 30px 50px;
    max-width: 1340px;
    margin: 0 auto;
    flex-direction: column;
}

.titres-page{
    margin-bottom: 22px;
}
.titres-page h1{
    font-size: 14px;
    margin-bottom: 16px;

}
.titres-page p{
    font-size: 12px;
}
.searchbar{
    display: flex;
    margin-bottom: 32px;
}
.fa-map-marker-alt{
    border-radius: 12px 0px 0px 12px;
    color: black;
    background-color: #f2f2f2;
    padding: 11px;
}

.searchbar input{
    border: 1px solid #f2f2f2;
    text-decoration-line: none;
    padding: 11px;
    font-weight: bold;
    outline-color: #f2f2f2;
}

.searchbar button{
    border: 1px solid #0000ff00;
    border-radius: 0px 12px 12px 0px;
    text-decoration-line: none;
    color: white;
    background-color: #0065fc;
    padding: 11px;
    font-weight: bold;
}

.filtres h3{
    font-size: 15px;
    font-weight: bolder;
}


.filtres ul{
    
    display:flex;
    list-style:none;
    position: absolute;
    align-items: center;
}

.Economie{
	border: 2px solid #d9d9d9;
    border-radius: 25px;
    display: inline-block;
    position: relative;
    top: 0px;
    left: 20px;
    margin-right: 20px;
}
.filtres-logo{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #0065FC;
    background-color: #deebff;
    padding: 5px;
    
    
}
.filtres-texte{
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: bolder;
    padding: 20px;
    align-items: center;
}
.info{
    height: 30px;
    align-items: center;
    display: flex;
    padding:80px 0px 20px 0px;
    
}
.info p{
    display: flex;
}
.info i{
    height: 25px;
    width: 25px;
    padding: 0px;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    text-align: center;
    margin-right: 10px;
    color: #0065FC;
}
.section2{
    width: 880px;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 25px;
    margin-right: 40px;
    padding: 20px;
}
.section2 h2{
    font-size: 20px;
    padding: 20px 0px 11px 16px;
}
.section2 h4{
    font-size: 18px;
    padding: 20px 0px 20px 16px;
}
.section2 a{
    text-decoration: none;
}
.item{
    background-color: #ffffff;
    width: 235px;
    border-radius: 25px;
    margin: 16px;
    display: inline-block;
    box-shadow: 0px 2px 4px 0px #80808059;
    overflow: hidden;
    height: auto;
    padding: 0px;
    border: 4px solid white;
}

.item img{
    height: 140px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    display: flex;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}
.item h3{
    display: flex;
    font-size: 13px;
    margin: 0px;
    margin-bottom: 5px;
}
.item p{
    margin: 0px;
    font-size: 9px;
    margin-bottom: 2px;
}
.item i:not(.less){
    display: inline;
    flex-direction: row;
    color: #0065FC;
    margin: 0px;
    font-size: 12px;
    
}
.item .less {
    color: #d9d9d9;
    margin: 0px;
    font-size: 12px;
}

.item-text{
    padding: 6px 12px 6px 11px;
}

aside{
    width: 390px;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 20px;
    display: inline-block;
    
}
aside a{
    text-decoration: none;
}

aside h2{
    font-size: 20px;
    
}
.item-aside-titre{
    width: auto;
    padding: 20px 16px 11px 16px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.logo-aside{
   font-size: 22px;
   padding-right: 10px;

}
.item-aside{
    background-color: #ffffff;
    width: 345px;
    height: auto;
    border-radius: 25px;
    margin: 16px;
    display: inline-flex;
    box-shadow: 0px 2px 4px 0px #80808059;
    overflow: hidden;
    border: 4px solid white;
    text-decoration: none;
}
.item-aside img{
    width: 130px;
    height: 145px;    
    border-radius: 25px 0px 0px 25px;
    display: flex;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}
.item-aside h3{
    display: flex;
    font-size: 18px;
    margin-bottom: 14px;

}
.item-aside i{
    display: inline;
    flex-direction: row;
    color: #0065FC;
    margin: 0px;
    font-size: 11px;
}
.item-aside i:not(.less){
    display: inline;
    flex-direction: row;
    color: #0065FC;
    margin: 0px;
    font-size: 12px;
    
}
.item-aside .less {
    color: #d9d9d9;
    margin: 0px;
    font-size: 12px;
}


.item-aside p{
    margin-bottom: 30px;
    font-size: 13px;

}
.item-text-aside{
    margin: 16px 16px 0px 20px;
}
.hebergement {
    max-width: 1340px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    padding: 15px 50px 30px 50px;
}

.activity {
    max-width: 1340px;
    margin: 0 auto;
    display: block;
    padding: 15px 50px 30px 50px;
}

.activity .title {
    padding: 20px 0px;
}

.activity .links {
    display: flex;
}

.activity .links .bloc {
    width: 100%;
    height: 450px;
}
.bloc_1{
    margin-right: 42px;
}
.bloc_2{
    margin-right: 42px;
}
.bloc_3{
    margin-right: 42px;
}
.activity a,
.activity a:visited {
    overflow: hidden;
    border-radius: 25px;
    color: #000;
    position: relative;
    height: 100%;
    display: block;
    font-weight: bold;
    font-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 4px 0px #cccccc;
    transition: all 0.4s ease;
}

.activity a:hover,
.activity a:focus {
    transform: scale(1.03);
}

.activity span {
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: block;
    width: calc(100% - 40px);
    padding: 20px 20px;
}

.bloc_2 .bloc_top{
    height:56%;
}
.bloc_2 .bloc_bot {
    height: 34%;
    margin-top: 42px;
}
.bloc_4 .bloc_top{
    height:40%;
}
.bloc_4 .bloc_bot {
    height: 50%;
    margin-top: 42px;
}

footer{
    background-color: #f2f2f2;
    margin-top: 50px;
    

}
.footer-text{
    display: flex;
    justify-content: space-between;
    max-width: 1340px;
    margin: 0 auto;
}
.footer-partie{
    padding: 30px 20px 30px 0px;
}
footer h2{
    font-size: 16px;
    margin-bottom: 27px;
}
footer p{
    font-size: 13px;
    margin-bottom: 20px;
}
footer a{
    text-decoration: none;
}